# Variables de entorno para despliegue
# Renombrar este fichero a .env y ajustar los valores si es necesario

# Configuración de Puertos Host (Para evitar colisiones en la máquina)
FRONTEND_PORT=5173
BACKEND_PORT=8080
DB_PORT=5432
MAIL_WEB_PORT=8025
MAIL_SMTP_PORT=1025

# Base de datos interna
POSTGRES_DB=tfg_db
POSTGRES_USER=user
POSTGRES_PASSWORD=pass

# Frontend
VITE_API_URL=http://localhost:${BACKEND_PORT:-8080}/api
