# Variables de entorno para despliegue local

# Backend / Base de datos
POSTGRES_DB=tfg_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Frontend
VITE_API_URL=http://localhost:8080/api/v1
